<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

  <% include ../../partials/head %>
</head>

<body>
<h1>Débats en cours</h1>

<header>
  <% include ../../partials/header %>
</header>

<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-12">
      <table id="debates" class="display" style="width:100%">
        <thead>
        <tr>
          <th>Titre</th>
          <th>Définitions</th>
          <th>Sources</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <%debates.forEach(function(debate) { %>
          <tr>
            <td><%= debate.question %></td>
            <td><%= debate.definitions%></td>
            <td><%= debate.sources%></td>
            <td>
              <form id="deleteDebate/<%= debate._id %>" method="POST" action="/debates/delete/<%= debate._id %>"></form>
              <form id="showDebate/<%= debate._id %>" method="GET" action="/debates/show/<%= debate._id %>"></form>
              <a onClick="document.forms['deleteDebate/<%= debate._id %>'].submit()" class="btn btn-danger">
                <i class="fas fa-trash-alt">
                  Supprimer
                </i>
              </a>
              <a onClick="document.forms['showDebate/<%= debate._id %>'].submit()" class="btn btn-info">
                <i class="far fa-comments">
                  Participer
                </i>
              </a>
            </td>
          </tr>
        <% }); %>
        </tbody>

      </table>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/javascript/debates.js"></script>

</body>

</html>
